<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <username>${env.GH_USER}</username>
            <password>${env.GH_PASS}</password>
        </server>
        <server>
            <id>sonatype-snapshots</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
        <server>
            <id>sonatype-staging</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
    <!--
    <mirrors>
        <mirror>
            <id>nexus</id>
            <url>http://www.anc.org:8080/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    -->
    <pluginGroups>
        <pluginGroup>org.anc.maven.plugins</pluginGroup>
    </pluginGroups>
</settings>
